$footnote-tooltip-background: $secondary;
$footnote-tooltip-border: $primary-medium;

.inline-footnotes {
  button.expand-footnote {
    padding: 0px 8px;
    margin: 0 4px;
    color: dark-light-choose($primary-low-mid, $secondary-high);
    border-radius: 5px;
  }

  .footnote-ref,
  .footnotes-sep,
  .footnotes-list,
  .footnote-backref {
    display: none;
  }

  #footnote-tooltip {
    background-color: $footnote-tooltip-background;
    position: absolute;
    z-index: 1000;
    border: 1px solid $footnote-tooltip-border;
    max-width: 400px;
    margin-top: 27px;
    overflow-wrap: break-word;
    visibility: hidden;
    &.retina {
      border: 0.5px solid $footnote-tooltip-border;
    }
  }

  .footnote-tooltip-pointer {
    position: relative;
    background: $secondary;
  }

  .footnote-tooltip-pointer:before,
  .footnote-tooltip-pointer:after {
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    bottom: 100%;
    content: "";
    height: 0;
    width: 0;
  }

  .footnote-tooltip-pointer:after {
    border-bottom-color: $footnote-tooltip-background;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
    margin-bottom: -0.5px;
  }

  .footnote-tooltip-pointer:before {
    border-bottom-color: $footnote-tooltip-border;
    border-width: 9px;
    left: 50%;
    margin-left: -9px;
    margin-bottom: -0.5px;
  }

  .footnote-tooltip-content {
    padding: 0 0.5em;
    font-size: 0.93em;
    color: $primary-medium;
    line-height: 1.4em;
  }
}
