$footnote-tooltip-background: var(--secondary, $secondary);
$footnote-tooltip-border: var(--primary-medium, $primary-medium);

.inline-footnotes {
  button.expand-footnote {
    padding: 0px 0.5em;
    margin: 0 0 0 0.25em;
    color: var(
      --primary-low-mid-or-secondary-high,
      dark-light-choose($primary-low-mid, $secondary-high)
    );
    border-radius: 3px;
    min-height: 20px;

    .d-icon {
      pointer-events: none;
    }
  }

  // This is hack to work with lazy-loading, we will trick the browser
  // to believe the image is in the DOM and can be loaded
  .footnotes-list {
    position: absolute;
  }

  .footnotes-sep,
  .footnotes-list,
  .footnote-backref {
    visibility: hidden;
  }

  .footnote-ref {
    display: none;
  }
}

#footnote-tooltip {
  background-color: $footnote-tooltip-background;
  z-index: z("tooltip");
  border: 1px solid $footnote-tooltip-border;
  max-width: 400px;
  overflow-wrap: break-word;

  &:not(.is-expanded) {
    display: none;
  }

  &.retina {
    border: 0.5px solid $footnote-tooltip-border;
  }

  .footnote-tooltip-pointer {
    position: relative;
    background: var(--secondary, $secondary);
  }

  .footnote-tooltip-pointer:before,
  .footnote-tooltip-pointer:after {
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    bottom: 100%;
    content: "";
    height: 0;
    width: 0;
  }

  .footnote-tooltip-pointer:after {
    border-bottom-color: $footnote-tooltip-background;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
    margin-bottom: -0.5px;
  }

  .footnote-tooltip-pointer:before {
    border-bottom-color: $footnote-tooltip-border;
    border-width: 9px;
    left: 50%;
    margin-left: -9px;
  }

  .footnote-tooltip-content {
    border: 5px solid var(--secondary, $secondary);
    font-size: 0.93em;
    color: var(--primary-medium, $primary-medium);
    line-height: 1.4em;
    overflow: hidden;
    min-width: 100px;

    img {
      object-fit: cover;
      max-width: 385px;
    }

    .footnote-backref {
      display: none;
    }
  }
}
